@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
* {
  margin: 0;
}
body {
  font-size: 1.25rem;
  font-family: "Margarine", sans-serif;
  background-color: #f2b880;
  height: 100vh;
}
header {
  color: #1a1423;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 50px;
  height: 13%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 1.5rem;
}
.nav-bar button {
  padding: 0 20px;
  max-height: 1.5rem;
  border-radius: 3px;
  border: none;
  font: inherit;
  font-size: 1.25rem;
  background-color: #e4a76d;
  color: #372549;
}
.content {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content img {
  max-height: 100%;
  border-radius: 1rem;
}

.footer {
  color: #1a1423;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
  background-color: #f2b880;
}
.footer a {
  text-decoration: none;
  color: #1a1423;
}
